body {
    background-color: beige;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(10, 22, 128);
    text-align: center;

}

h2 {
    color: purple;
    text-decoration: underline;
}

#intro {
    text-align: center;
    background-color: white;
}

div {
    border: 2px solid black;
    margin: 3px;
    padding: 3px;
    background-color: rgb(156, 156, 245)
}

p {
    color: blue;
}

ul {
    color: yellow;
}

ol {
    color:red;
}