body {
    background-color: white;
}


section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "edu work"
        "goal goal";
}

#edu{
    grid-area: edu;
}

#work {
    grid-area: work;
}

#goal {
    grid-area: goal;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: black);
    text-align: center;

}

h2 {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    text-decoration: underline;
}

#intro {
    text-align: center;
    background-color: rgb(115, 144, 189);
}

div {
    border: 2px solid black;
    margin: 3px;
    padding: 5px;
    background-color: gray;
}

#intropara {
    color:black;
    font-weight: bold;
}

ul {
    color:black;
}

ol {
    color: black;
}